# Node modules
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.local

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
..next/
*.log
node_modules/
.env*
.next/static/
next-env.d.tsidea/
*.swp

